* {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
}


nav ul li {
    display: inline;
    list-style: none;
    padding: 20px;
}

nav ul li a {
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
}

main h2 {
    padding: 15px 10px 15px 10px;
    text-align: center;
}

.galeria h2, .historia div p{
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 20px;
}

main h1 {
    text-align: center;
    padding: 25px 0px 25px 0px;
}

body {
    background-image: url(https://th.bing.com/th/id/R.fe1e5b7e184e1755dd207e3b0937a6df?rik=S%2f6M%2bXS9%2fGUF2A&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: xx-large;
    color: aliceblue;
}

h2 {
    background-color: antiquewhite;
    opacity: 50%;
}

h3 {
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-align: center;
}

.inicio p {
    font-size: 22px;
    background-color: antiquewhite;
    opacity: 35%;
    height: 285px;
    overflow: auto;
}
.video{
    align-items: center;
    text-align: center;
}
section{
    align-items: center;
    text-align: center;
    justify-content: center;
}

p {
    font-size: larger;
    background-color: antiquewhite;
    opacity: 35%;
}

.actores div p {
    height: 350px;
    overflow: auto;
}

.historia div p {
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}



.accordion-item{
    background-color: antiquewhite;
    opacity: 35%;
    margin-bottom: 15px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
}

.accordion-header{
    background-color: antiquewhite;
    text-align: center;
    opacity: 100%;
    border-radius: 10px;

}
.accordion-button{
    background-color: antiquewhite;
    font-size: 30px;
    justify-content: center;
    border-radius: 10px;

}

.accordion-body p{
    background-color: antiquewhite;
    opacity: 100%;
    font-size: 20px;
    border-radius: 10px;

}

.contacto div {
    text-align: center;
}

div ul li label {
    font-size: larger;
    background-color: antiquewhite;
    opacity: 35%;
}

/*posicion de elementos*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.inicial {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.galeria div{
    text-align: center;
 }
.actores div{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
}

.actores .mobile{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
}

.actores div img{
    width: 50%;
}

.actores .mobile img{
    width: 100%;
}

.carousel-inner{
    text-align: center;
}

.carousel-control-next-icon{
    background-image: url(../imagenes/next.png);
}

.carousel-control-prev-icon{
    background-image: url(../imagenes/prev.png);
}

.carousel-item{
    margin-bottom: 25px;
    color: brown;
}





/*-----------*/

.actores .mobile{ 
    display: none;
}


@media (max-width: 575px) {
    .actores .mobile{
        display: block;
    }
    .actores{
        justify-content: center;
    }
    .actores .desktop{
        display: none;
    }
}
  

.inicio .mobile{
    display: none;
}

@media (max-width: 575px) {
    .inicio .mobile{
        display: block;
    }
    .inicio .desktop{
        display: none;
    }
}