* {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
}


nav ul li {
    display: inline;
    list-style: none;
    padding: 20px;
}

nav ul li a {
    font-size: x-large;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
}

h1 {
    padding: 25px 0px 25px 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    color: aliceblue;
}

.historia div p {
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(https://th.bing.com/th/id/R.fe1e5b7e184e1755dd207e3b0937a6df?rik=S%2f6M%2bXS9%2fGUF2A&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.inicio p {
    font-size: 22px;
    background-color: antiquewhite;
    opacity: 35%;
    height: 285px;
    overflow: auto;
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-color: rgb(85, 0, 78);
    border-width: 2px;
}

.inicio img {
    width: 100%;
}

.video {
    text-align: center;
}


.pie-pagina {
    text-align: center;
}



.acordion {
    opacity: 50%;
    margin-bottom: 15px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10px;
}

.acordion-cabeza {
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    opacity: 80%;
    font-size: 50px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border-width: 20px;
    font-weight: bold;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(85, 0, 78);
    border-width: 2px;
}

.acordion-cuerpo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: antiquewhite;
    opacity: 55%;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(85, 0, 78);
    border-width: 2px;
}

.acordion-elementos {
    border-radius: 10px;
    margin-bottom: 15px;
}

.historia div p {
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-size: larger;
    background-color: antiquewhite;
    opacity: 35%;
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-color: rgb(85, 0, 78);
    border-width: 2px;
}

.actores div p {
    height: 350px;
    overflow: auto;
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-color: rgb(85, 0, 78);
    border-width: 2px;
}
.contacto div {
    text-align: center;
}

div ul li label {
    font-size: larger;
    background-color: antiquewhite;
    opacity: 35%;
    font-family: 'Ubuntu', sans-serif;
}

/*posicion de elementos*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria div {
    text-align: center;
}

.actores div {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
}

.actores .mobile {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
}

.actores .mobile img {
    width: 100%;
}

.calecita {
    justify-content: center;
    text-align: center;
}

.calecita-completa {
    padding-bottom: 40px;
    padding-top: 40px;
}

.calecita-principal {
    text-align: center;
}

.calecita-derecha-icon {
    background-image: url(../imagenes/next.png);
}

.calecita-izquierda-icon {
    background-image: url(../imagenes/prev.png);
}

.calecita-contenedor h5{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.mobile div div {
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*-----------*/

.actores .mobile {
    display: none;
}

@media (max-width: 575px) {
    .actores .mobile {
        display: block;
    }

    .actores {
        justify-content: center;
    }

    .actores .desktop {
        display: none;
    }
}


.inicio .mobile {
    display: none;
}

@media (max-width: 575px) {
    .inicio .mobile {
        display: block;
    }

    .inicio .desktop {
        display: none;
    }
}

.pie-pagina div a {
    width: 100%;
}

#map {
    width: 100%;
}