div form ul li label, .historia .acordion .acordion-elementos .acordion-cuerpo, .historia .acordion .acordion-elementos .acordion-cabeza, .actores div p, .galeria .calecita .calecita-completa .calecita-contenedor h5, header nav ul li a, .inicio p, main h1 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.pie-pagina {
  text-align: center;
  justify-content: center;
}
.pie-pagina div a {
  width: 100%;
}

main h1 {
  padding: 25px 0px 25px 0px;
  text-align: center;
  justify-content: center;
  color: antiquewhite;
}

.inicio p {
  background-color: antiquewhite;
  opacity: 55%;
  overflow: auto;
  border-style: solid;
  border-color: rgb(85, 0, 78);
  border-width: 2px;
}
.inicio .scroll-pc {
  height: 285px;
}
.inicio img {
  width: 100%;
}

.video {
  text-align: center;
  padding-top: 20px;
}

.inicio .mobile {
  display: none;
}

@media (max-width: 800px) {
  .inicio .mobile {
    display: block;
  }
  .inicio .desktop {
    display: none;
  }
}
header nav {
  text-align: center;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 2s;
}
header nav ul :hover {
  transform: scale(2);
}
header nav ul li {
  display: inline;
  list-style: none;
  padding: 20px;
}
header nav ul li a {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

body {
  background-image: url(https://th.bing.com/th/id/R.fe1e5b7e184e1755dd207e3b0937a6df?rik=S%2f6M%2bXS9%2fGUF2A&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.galeria div {
  text-align: center;
  justify-content: center;
}
.galeria .calecita {
  text-align: center;
  justify-content: center;
}
.galeria .calecita .calecita-completa {
  padding-bottom: 40px;
  padding-top: 40px;
}
.galeria .calecita .calecita-completa .calecita-contenedor h5 {
  color: white;
}
.galeria .calecita .calecita-completa .calecita-contenedor .calecita-elementos div {
  text-align: center;
  justify-content: center;
}
.galeria .calecita .calecita-completa .calecita-contenedor .calecita-derecha-icon {
  background-image: url(../imagenes/next.png);
}
.galeria .calecita .calecita-completa .calecita-contenedor .calecita-izquierda-icon {
  background-image: url(../imagenes/prev.png);
}

.galeria .mobile {
  display: none;
}

@media (max-width: 875px) {
  .galeria .mobile {
    display: block;
  }
  .galeria .desktop {
    display: none;
  }
}
.actores div {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.actores div p {
  background-color: antiquewhite;
  opacity: 55%;
  overflow: auto;
  border-style: solid;
  border-color: rgb(85, 0, 78);
  border-width: 2px;
}

.actores .desktop p {
  height: 375px;
}

.actores .mobile {
  display: none;
}

@media (max-width: 800px) {
  .actores .mobile {
    display: block;
  }
  .actores {
    justify-content: center;
  }
  .actores .desktop {
    display: none;
  }
}
.historia .acordion {
  margin-bottom: 15px;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 10px;
}
.historia .acordion .acordion-elementos {
  border-radius: 10px;
  margin-bottom: 15px;
}
.historia .acordion .acordion-elementos .acordion-cabeza {
  background-color: antiquewhite;
  opacity: 65%;
  list-style: none;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(85, 0, 78);
  border-width: 2px;
}
.historia .acordion .acordion-elementos .acordion-cuerpo {
  background-color: antiquewhite;
  opacity: 55%;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(85, 0, 78);
  border-width: 2px;
}

div {
  text-align: center;
  justify-content: center;
}
div form ul {
  list-style: none;
  text-decoration: none;
}
div form ul li label {
  text-decoration: none;
  list-style: none;
  background-color: antiquewhite;
  opacity: 65%;
}

/*# sourceMappingURL=style.css.map */
