body {
    background-image: url(https://th.bing.com/th/id/R.fe1e5b7e184e1755dd207e3b0937a6df?rik=S%2f6M%2bXS9%2fGUF2A&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
