div {
    @include posicion(center, center);

    form {
        ul {
            list-style: none;
            text-decoration: none;
            li {
                label {
                    @extend %tipografia;
                    text-decoration: none;
                    list-style: none;
                    @include opacidad(antiquewhite, 65%);
                }
            }
        }
    }
}