header {
    nav {
        @include posicion (center, center);


        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            transition: 2s;
            :hover{
                transform: scale(2)
            }
        }

        ul li {
            display: inline;
            list-style: none;
            padding: 20px;
            

            a {
                @extend %tipografia;
                @include posicion (center, center);
                text-decoration: none;
                color: white;
            }
            
        }
    }
}