.historia {
    .acordion {
        margin-bottom: 15px;
        margin-left: 4%;
        margin-right: 4%;
        border-radius: 10px;

        .acordion-elementos {
            border-radius: 10px;
            margin-bottom: 15px;

            .acordion-cabeza {
                @extend %tipografia;
                @include opacidad(antiquewhite, 65%);
                list-style: none;
                cursor: pointer;
                @include posicion (center, center);
                border-radius: map-get($borde, b-r );
                border-style: map-get($borde, b-s );
                border-color: map-get($borde , b-c);
                border-width: map-get($borde, b-w );
            }

            .acordion-cuerpo {
                @extend %tipografia;
                @include opacidad(antiquewhite, 55%);
                border-radius: map-get($borde, b-r );
                border-style: map-get($borde, b-s );
                border-color: map-get($borde , b-c);
                border-width: map-get($borde, b-w );
            }
        }
    }
}